.main {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 200px;
	background-color: rgb(230, 230, 230);
	user-select: none;
}

.name {
	color: brown;
	text-align: center;
	padding: 5px;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.btn-div {
	display: flex;
	justify-content: center;
	align-items: center;

	.btn {
		background: #f5f5f5;
		border: 1px solid #ccc;
		border-radius: 5px;
		padding: 5px;
		margin: 5px;
		cursor: pointer;

		&:hover {
			background: #ccc;
		}

		&:active {
			background: rgb(145, 145, 145);
		}
	}
}
